/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .about{
    background-color: rgb(21, 116, 172);
    height: 100px;
    height: 300px;
  width: 100%;
  display: inline-block;
  }
  .about h1 , h3 {
    text-align: center;

  }
  .about nav{
    text-align: center;
  }
  .about nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .about nav ul li {
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
  }
  .main{
    height: 300px;
    width: 100%;
  background-color:rgb(47, 140, 194);
}
footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 10px;
  }